<%= turbo_frame_tag "forecast" do %>
  <div class="bg-neutral-900/20 backdrop-blur-lg border border-neutral-500/10 rounded-lg p-4 text-white mx-auto w-3xs">
    <table class="w-30 table-fixed mx-auto">
      <caption class="caption-top text-sm text-blue-200">
        Daily forecasts
      </caption>

    <% @response.daily_forecasts.each do |forecast| %>
      <% next if forecast.date.today? %>
      <tr>
        <td class="text-right px-2"><%= forecast.date.strftime("%a") %></td>
        <td class="px-2"><%= kelvin_to_f(forecast.temperature) %>°</td>
        <%# <%= forecast.feels_like %>
        <%# <%= forecast.high %>
        <%# <%= forecast.low %>
      </tr>
    <% end %>
    </table>
  </div>
<% end %>
