<div>
  Current conditions for <%= @area.name %>
</div>

<div>temperature: <%= @current_condition.temperature %></div>
<div>feels like: <%= @current_condition.feels_like %></div>
<div>high: <%= @current_condition.high %></div>
<div>low: <%= @current_condition.low %></div>
